/*#conteneur
{
	display: flex;
	 
}*/
body
{
	 width: 900px;
    margin: auto;
}
.element-1 
{
	background: url("scubatocat-mini.png")  no-repeat center ;
	padding: 9%;
	position: fixed;
	right: 50px;
	bottom: 20px;
	}
.element-2
{
	background: url("inspectocat-mini.jpg") no-repeat center;
	padding: 9%;
	position: absolute;
	right: 50px;
	bottom: 280px;
} 
.element-3
{
	background: url("foundingfather_v2.png") no-repeat center;
	padding: 9%;
	position: absolute;
	left: 50px;
	bottom: 270px;
}
.Elément
{
	background: url("plumber-mini.jpg") no-repeat center;
	padding: 9%;
	position: absolute;
	left:50px;
	bottom:20px;	
}
p
{
	font-family: sprat,time new roman;
	color:maroon;
	text-align: center;
	box-shadow: 6px 6px 6px;
	width: 35%;
	position: absolute;
	left: 31%;
	top: 15%;
	}

@font-face
{
	font-family: "sprat";
	src:url("Sprat_Variable.ttf"),
	url("Sprat-CondensedBold.otf");
	font-weight: normal;
	font-style: normal;
	
}
#logo img
{
    width: 10%;
    height: 10%;
    
}
h1
{
	font-family: sprat;
	text-align:center;
	text-transform : uppercase;
	position: absolute;
	top: 0px;
	left: 40%; 
}
footer
{
	font-family: sprat;
	text-align: right;
	background: url(pic9.jpg) repeat center;
	position: absolute;
	bottom: 0px;
	right: 5%;
}
ul
{	
	display: inline-flex;
	font-family: sprat;
	font-size: x-large;
	text-transform: uppercase;
	list-style-type: none;
	position: absolute;
	right: 10%;
	top: 0%;
	}
li
{
	padding: 15px;
}
video
{
	position: absolute;
	bottom: 10px;
	right: 430px;
}
@media all and (max-width: 900px)
{
    body
    {
        width: auto;
    }
    video
    {
    	width: 90%;
    	right: 5%;
    	bottom: 5%;
    }
    ul
    {
    	font-size: medium;
    	
    }
    .element-1,.element-2,.element-3, .Elément
    {
    	
    	opacity: 50%;
    	
    }
    
    
    #logo img
    {
    	z-index:1;  
    	width: 10%;
    }
    h1
    {
    	width: auto;
    	padding: auto;
    	font-size: large;
    	text-align: left;
    }
    p
    {
    	position: absolute;
    	left:0%;
    	top: 20%;
    	width: auto;
    	margin: auto;
    	font-size: small;
    }
    footer
    {
    	font-size: small;
    	background-image : linear-gradient( to bottom, hsl(0, 80%, 70%), #BADA55 )
    }
    
}
