/*#conteneur
{
	display: flex;
	 
}*/
.element-1 
{
	background: url("scubatocat.png")  no-repeat center ;
	padding: 100px;
	position: fixed;
	right: 30px;
	bottom: 20px;
	}
.element-2
{
	background: url("inspectocat.jpg") no-repeat center;
	padding: 100px;
	position: absolute;
	right: 30px;
	bottom: 250px;
} 
.element-3
{
	background: url("octoliberty.png") no-repeat center;
	padding: 100px;
	position: absolute;
	left: 50px;
	bottom: 240px;
}
.Elément
{
	background: url("plumber.jpg") no-repeat center;
	padding: 100px;
	position: absolute;
	left:50px;
	bottom:20px;	
}
p
{
	font-family: sprat,time new roman;
	color:maroon;
	text-align: center;
	box-shadow: 6px 6px 6px;
	width: 350px;
	position: absolute;
	left: 450px;
	top: 250px;
	}

@font-face
{
	font-family: "sprat";
	src:url("Sprat_Variable.ttf"),
	url("Sprat-CondensedBold.otf");
	font-weight: normal;
	font-style: normal;
	
}
#logo img
{
    width: 59px;
    height: 60px;
    
}
h1
{
	font-family: sprat;
	text-align: center;
	text-transform : uppercase;
}
footer
{
	font-family: sprat;
	text-align: right;
	background: url(pic9.jpg) repeat center;
	position: absolute;
	bottom: 20px;
	right: 530px;
}
ul
{	
	display: inline-flex;
	justify-content: space-between;
	font-family: sprat;
	font-size: x-large;
	text-transform: uppercase;
	list-style-type: none;
	position: absolute;
	right: 50px;
	top: 10px;
	}
li
{
	padding: 15px;
}