#conteneur
{
	display: flex;
	flex-wrap: wrap; 
}
.element-1 
{
	background: url("scubatocat.png")  no-repeat center ;
	border: solid black;     
	padding: 100px;
	position: fixed;
	right: 30px;
	bottom: 30px;
}
.element-2
{
	background: url("inspectocat.jpg") no-repeat center;
	border: solid black;
	padding: 100px;
	position: absolute;
	left:  30px;
	bottom: 30px;
} 
.element-3
{
	background: url("octoliberty.png") no-repeat center;
	border: solid black;
	padding: 100px;
	position: absolute;
	right: 450px;
	top: 80px;
}
p
{
	font-family: sprat,time new roman;
	color:maroon;
	text-align: center;
	box-shadow: 6px 6px 6px;
	z-index: 4;
}

@font-face
{
	font-family: "sprat";
	src:url("Sprat_Variable.ttf"),
	url("Sprat-CondensedBold.otf");
	font-weight: normal;
	font-style: normal;
	
}
#logo img
{
    width: 59px;
    height: 60px;
    border:solid;
}
h1
{
	font-family: sprat;
	text-align: center;
	text-transform : uppercase;
}
footer
{
	display: inline-block;
	border: solid;
	font-family: sprat;
	text-align: center;
	background: url(pic9.jpg) no-repeat center;
	vertical-align: bottom;
}